:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-background: #f5f5f5;
  --color-border: #999999;
  --color-orange-100: #fff4e6;
  --color-orange-200: #ffa94d;
  --color-orange-300: #fd7e14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--color-background);
}

header {
  background-color: var(--color-black);
  color: var(--color-white);

  padding: 1rem;
  text-align: center;
}

header > h1 {
  font-size: 2rem;
}

.title {
  max-width: 1200px;
  text-align: center;
  margin: 2rem auto 0;
}

.title > h2 {
  font-size: 1.5rem;
}

.my_form {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.my_form > .task_input {
  width: 540px;
  height: 30px;
  margin-right: 1rem;
  padding-left: 0.5rem;
}

.my_form > .task_add_button {
  background-color: var(--color-orange-200);
  color: var(--color-white);
  border: none;
  padding: 0.5rem;
}

.my_form > .task_add_button:hover {
  background-color: var(--color-orange-300);
  cursor: pointer;
}

.to_do_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  list-style: none;
}

.to_do_list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 600px;
  width: 90vw;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-orange-100);
  border: 1px solid var(--color-border);
}

.to_do_list > li > button {
  font-size: 0.5rem;
  background: none;
  border: none;
}

.to_do_list > li > input,
.to_do_list > li > button:hover {
  cursor: pointer;
}
